.btn {
	background-color: transparent;
	border: 0;
	img {
		width: 3rem;
		height: 3rem;
	}
	&.btn-white {
		color: black;
		background-color: white;
	}
	&.btn-close {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
}
