.overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: rgba(0,0,0,0.6);
	color: white;
	display: none;
	&.active {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#close_video_btn {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
}
